
*{
    padding: 0;
     margin:0;
     box-sizing: border-box;
}
.anker:hover{
    background-color: rgb(177, 8, 16);
}
.navbar{
    display:flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 20px;
}
.navbar img{
    width:130px;
    margin-left:70px;
    
}
.nav-right1{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    margin-right: 70px;
    gap: 15px;
   
}
.anker{

    width: 80px;
    background-color:rgb(229 , 9 , 20);
    color:rgb(255,255,255);
    padding: 2px 6px;
    text-align: center;
    border-radius: 3px;
    font-family:unset;
}
.sec{
    padding: 4px 15px;
    border-radius: 4px;
    background: transparent;
    color: aliceblue;
    border: 1px solid white;
}
.hero button:hover{
    background-color:  rgb(177, 10, 18);
}
.sec option{
    color: #000000;
}
/* header End */

.hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white ;
}
.h-form{
    display: flex;
    justify-content: center;

}
.h-main h1{
    font-size:45px;
    margin-bottom: 15   px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
   
}
.h-main p{
    font-size: 20px;
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 6px;
}
.h-form h3{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
}
.h-form input{
    width:370px;
    height: 45px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 7px;
    border-radius: 3px;
    color: aliceblue;
}
.h-form button{
    width:180px;
    height: 45px;
    background-color:rgb(229 , 9 , 20);
    color:rgb(255,255,255);
    font-family: unset;
    border-radius: 3px;
    border:none;  
    font-size: 20px;  
    font-weight: 600;
    
}
.h-form{
    margin-left: 50px;
    
}

.background {
    /* Adds a black shadow overlay on top of the image */
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/*    movie sec */
.temp{
    height:60px;
    background-color:#000000;
    display:flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding-left: 120px;
  
}
.movie{
  display: flex;
  height: 270px;
  background-color: #000000;
  justify-content: space-around;
  padding: 0 120px;
}

.movie img {
  width: 160px;          
  object-fit: cover;
  margin-top: 10px;
  border-radius: 6px;
}
/* reasons */
.reasons{
    height: 20rem;
    background-color: #000000;
    color: aliceblue;
}
.r-temp{
    padding-left: 120px;
    font-size:70%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.cont{
    display: flex;
    box-sizing:border-box;
    gap:20px;
    padding: 5px 120px 0px 120px;
    word-wrap: normal;
}
.cont div{
   
    color:#FFFFFFB3;
    width: 300px;
    background: radial-gradient(circle at bottom right, #392440 0%, #121016 70%);
    height: 250px;
    border-radius: 12px;
    margin-top: 10px;
    padding:0 30px;
}
.div, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 23px;
    font-weight:700;
    color: aliceblue;
}

/*  logo */

.tv {
  position: relative;
  background: radial-gradient(circle at bottom right, #392440 0%, #121016 70%);
  border-radius: 16px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
.tv p{
    font-size: 0.90rem;
    
}
.tv svg {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 60px;  
 
}
.offline {
  position: relative;
  background: radial-gradient(circle at bottom right, #392440 0%, #121016 70%);
  border-radius: 16px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
}
.offline p{
    font-size: 0.90rem;
}
.offline svg{
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 60px; 
}
.wt {
  position: relative;
  background: radial-gradient(circle at bottom right, #392440 0%, #121016 70%);
  border-radius: 16px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
}
.wt p{
    font-size: 0.90rem;
}
.wt svg{
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 60px; 
}
.pr {
  position: relative;
  background: radial-gradient(circle at bottom right, #392440 0%, #121016 70%);
  border-radius: 16px;
  color:#FFFFFFB3;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
}
.pr  p{
    font-size: 0.90rem;
}
.pr svg{
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 60px; 
}
/* FAQ */

.question{
    height: 650px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
 .t-cont{
    margin-left: 120px;
    width: 88rem;
 }
.t-cont h2{
  border: 1px solid white;
  width:80%;
  height:75px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.144);
  border: none;
 
}
.temp h1{
    font-size: 20px;
}

.row1 h2,
.row2 h2, 
.row3 h2, 
.row4 h2, 
.row5 h2, 
.row6 h2 {
  display: flex;
  justify-content: space-between; 
  align-items: center;     
  margin: 10px;
    font-size: 20px;       
  font-weight: 400;
  padding-right: 10px;
}
.row1 h2:hover,
.row2 h2:hover, 
.row3 h2:hover, 
.row4 h2:hover, 
.row5 h2:hover, 
.row6 h2:hover{
background-color:#3c3d3f;
}

/* footer section */

.footer{
    height:600px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background-color: #000000;
    color:aliceblue;
}
.search p{
    margin-bottom: 13px;
    font-size: 1.2rem;
}
.footer input{
   width: 500px;
   height:50px;
   background-color: transparent;
   border:1px solid rgb(122, 117, 117);
   padding-left: 10px;
   border-radius: 4px;
   color:aliceblue;
}
.footer  button{
    height:50px;
    width:190px;
    background-color: rgb(229 , 9 , 20);
    color:rgb(255,255, 255);
    border:none;
    border-radius:4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 700;
}
.search button:hover{
background-color: rgb(177, 8, 16);
}
.f-temp{
    display: flex;
    padding-left: 140px;
    margin-top: 70px;
     color:rgb(173, 168, 160);
}
.f-cont{
    display: flex;
    margin-top: 50px;
    padding-left: 140px;
    justify-content: start;
    gap: 150px;
   

}
.f-cont p{
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:rgb(173, 168, 160);
    text-decoration: underline;
}

.sec1{
    height: 30px;
    width: 130px;
    margin-left: 140px;
    margin-top: 40px;
    border-color: rgb(152, 149, 142) ;
    background-color: transparent;
    color:white;
    border-radius: 4px;
   
}
.sec1 select{
    padding-left: 140px;
   
}
.sec1 option{
    color: #000000;
}
.lfoot{
   flex-direction: column; 
   text-align: start;
   margin-top: 30px;
   margin-left: 140px;
   
}
.lfoot h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color:rgb(173, 168, 160) ;
    margin-bottom: 18px;
}
.lfoot p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    color:rgb(147, 143, 136) ;
}
.lfoot a{
    color:rgb(244, 231, 231);
    text-decoration: underline;
}
